chart {
  display: none;
}

svg {
  width: 100%;
  height: 300px;
}

svg circle {
  stroke-width: 1px;
  stroke: #000;
  fill: white;
}

svg line {
  stroke: #efefef;
  stroke-width: 1px;
}

svg .data-point .hover-line {
  stroke: transparent;
}

svg .data-point:hover .hover-line {
  stroke: #efefef;
}

svg .pie-wedge path {
  stroke: #ddd;
  fill: #efefef;
}